body{
   font-family: 'Open Sans', sans-serif;
   font-size:16px;
   color:#ffffff;
   background-color: #201c20;
}

body *{
   flex-shrink: 0;
}

/* blocks==================================================== */

.logo {
   width: 50px;
   height: 50px;
}

/* titles------------------- */

.wrapper-main-title {

}

.main-title {
   font-size: 70px;
   line-height: 1em;
}

.wrapper-section-title{
   margin-bottom: 30px;
}

.section-title{
   text-transform: capitalize;
   font-weight: 500;
   font-size: 30px;
   color: #e44545;
}

.wrapper-main-subtitle {
   margin-bottom: 40px;
   font-size: 40px;
   line-height: 1em;
   color: #e44545;
}

.main-subtitle {

}
/* menu-link------------- */
.menu-link{
   position: relative;
   font-weight: 500;
   text-transform: capitalize;
   color: #201c20;
}

.menu-link:before{
   content: '';
   position: absolute;
   bottom: -5px;
   left: 50%;
   display: inline-block;
   transform: translate(-50%,0);
   transition: width 0.5s, background-color 0.5s;
   width: 50%;
   height: 2px;
   background-color: #201c20;
}

.menu-link:hover::before{
   width: 100%;
   background-color: #ff0000;
}

/* contacts------------------ */

.contacts-list>li:not(:last-child){
   margin-bottom: 15px;
}

.contacts-link{
   font-size: 20px;
   color: #ffffff;
}

.contacts-link>span{
   display: inline-block;
   vertical-align: middle;
}

.contacts-link__icon{
   width: 30px;
   height: 30px;
   margin-right: 15px;
}

.contacts-link:hover{
   color: antiquewhite;
}

.contacts-link:hover path{
   fill: #ff0000 ;
}
/* skill-link----------------- */
.skill-link{
   font-size: 20px;
   color: #ffffff;
}

.skill-link>span{
   display: inline-block;
   vertical-align: middle;
}

.skill-link__icon{
   width: 32px;
   height: 32px;
   margin-right: 15px;
}

.skill-link:hover{
   color: antiquewhite;
}

.skill-link:hover .skill-link__icon{
   opacity: 0.7;
}

/* card-link---------------- */

.card-link{
   padding: 0 20px;
   line-height: 40px;
   font-size: 18px;
   color: #ffffff;
   background-color: #c42727;
   font-weight: 500;
   transition: color 0.5s, background-color 0.5s;
}

.card-link:hover{
   background-color: #ffffff;
   color: #e44545;
}

/* header================================================= */

.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   padding: 20px 0;
   background-color: #ffffff
}

.header__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__menu {
   min-width: 100%;
}

.header__menu-list {
   display: flex;
   justify-content: space-around;
}

.header__menu-list>li:not(:last-child){
   margin-right: 15px;
}


/* about-me========================= */

.about-me {
   padding: 200px 0 100px;
}

.about-me__content {

}


.about-me__row:first-child {
   display: flex;
   column-gap: 100px;
   flex-wrap: wrap;
}

.about-me__row:not(:last-child){
   margin-bottom: 70px;
}

.about-me__info {

}


.about-me__contacts {

}

.about-me__holder-avatar {
   width: 400px;
   overflow: hidden;
}

.about-me__description {
   max-width: 50%;
}

.about-me__description>p:not(:last-child){
   margin-bottom: 15px;
}

/* my-skills================================== */
.my-skills {
   padding:  100px 0;
}

.my-skills__content {

}

.my-skills__row {
   display: flex;
   justify-content: space-around;
   column-gap: 50px;
   align-items: center;
   flex-wrap: wrap;
}

.my-skills__holder-img {
   width: 400px;
   filter: drop-shadow(0px 0px 10px #8282ee);
}

.my-skills__list-skills>li:not(:last-child){
   margin-bottom: 15px;
}

/* portfolio==================================== */
.portfolio {
   padding:  100px 0;
}

.portfolio__row {
   display: flex;
   column-gap: 50px;
   flex-wrap: wrap;
}

.card-project:hover .card-project__show-project{
   transform: translateY(100%);
}

.card-project__title {
   margin-bottom: 20px;
}

.card-project__holder-img {
   position: relative;
   width: 400px;
   overflow: hidden;
}

.card-project__show-project{
   position: absolute;
   top: -100%;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 0.5s;
   background-color: rgba(255, 255, 255, 0.3);
   backdrop-filter: blur(5px);
}

